name: Docker Image CI

on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile*"
      - ".github/workflows/**"
  pull_request:
    branches:
      - "main"
    paths:
      - "Dockerfile*"
      - ".github/workflows/**"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Extract the Caddy version numbers from the Dockerfile
        run: bash .github/version_extractor.sh ./Dockerfile >> $GITHUB_ENV

      - name: Login to DockerHub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            axistools/caddy-bundle:${{ env.CADDY_MAJOR }}.${{ env.CADDY_MINOR }}.${{ env.CADDY_PATCH }}
            axistools/caddy-bundle:${{ env.CADDY_MAJOR }}.${{ env.CADDY_MINOR }}
            axistools/caddy-bundle:${{ env.CADDY_MAJOR }}
            axistools/caddy-bundle:latest
